@use 'variables' as *;

.announcements {
	container-type: inline-size;
	position: relative;
	height: 200px;
	background-color: #f5ebe0;
	background-image: url('img/swirl.png');
	background-attachment: fixed;
	overflow: hidden;

	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(211, 203, 199, 0.1);
		content: '';
	}

	&__title-main {
		padding: 0.5em 1em;
		color: #462f20;
		font-family: $font-main-title;
		text-align: center;
		letter-spacing: $letter-spacing-1;

		@container (max-width: 576px) {
			font-size: 2rem;
		}
	}
}

.actual {
	a {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: 2em;
		padding: 1em 2em;
		background-color: #d5beaf;
		border-radius: 5px;
		border: none;
		font-family: $font-text;
		text-decoration: none;
		letter-spacing: 1px;
		color: #1c130d;
		transform: translate(-50%, -50%);
		transition: 0.3s;
		cursor: pointer;

		@container (max-width: 576px) {
			width: 65%;
		}

		&:hover {
			background-color: #63412c;
			color: $white;
		}
	}

	&__arrow {
		display: inline-block;
		margin-left: 4px;
		font-size: 1.2rem;
		font-weight: bold;
		transition: transform 0.3s ease;

		&:hover {
			transform: translateX(7px);
		}
	}
}
