@use 'variables' as *;

.img-confirmation {
	position: relative;
	height: 70vh;
	background: url('/dist/img/bierzmowanie-1.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	filter: brightness(0.6);
}

.confirmation {
	font-size: 2rem;
	font-family: $font-main-title;

	&__h4 {
		font-family: $font-main-title;
		font-size: 3rem;
		text-align: center;
		padding: 1em 2em;
	}

	&__text {
		font-family: $font-text;
		font-size: 1.5rem;
		padding: 1em 2em;
	}

	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: $font-main-title;
		font-size: 4rem;
		font-style: italic;
		color: $white;
	}

	&__container {
		max-height: 100%;
		width: 100%;
		background: url('/dist/img/swirl.png');
		background-attachment: fixed;
		color: #462f20;
	}
}
