@use 'variables' as *;

.img-chaplain {
	position: relative;
	height: 70vh;
	background: url('/img/Msza-1.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	filter: brightness(0.6);
}

.chaplain {
	font-size: 2rem;
	font-family: $font-main-title;

	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: $font-main-title;
		font-size: 4rem;
		color: $white;
		text-align: center;
		padding: 0 1rem;

		// Zmniejsz tytuł na małych ekranach (np. starsze iPhone'y)
		font-size: clamp(2.5rem, 8vw, 4rem);
	}

	&__container {
		container-type: inline-size; // Główny kontener dla container queries
		container-name: chaplain-content;
		max-height: 100%;
		width: 100%;
		background: url('/img/swirl.png');
		background-attachment: fixed;
		color: #462f20;

		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 12px;
			margin: 0;
			display: block;
			max-width: 90%;

			// Responsywne dostosowanie szerokości zdjęcia
			@container (min-width: 576px) {
				max-width: 70%;
			}
			@container (min-width: 768px) {
				max-width: 50%;
			}
			@container (min-width: 992px) {
				max-width: 40%;
			}
		}

		p {
			padding: 0.5em 1em;
			text-align: center;
			font-size: 1.1rem;
			margin-top: 1em;
			margin-bottom: 1em;

			// Większy tekst na większych kontenerach
			@container (min-width: 768px) {
				font-size: 1.3rem;
			}
		}
	}

	&__h4 {
		padding: 1em 2em;
		text-align: center;
		font-family: $font-text;
		font-size: 3rem;

		// Responsywne nagłówki (dostosowane do Bootstrap breakpoints)
		font-size: clamp(1.8rem, 6vw, 3rem);

		@container (min-width: 576px) {
			font-size: 2.2rem;
		}
		@container (min-width: 768px) {
			font-size: 2.6rem;
		}
		@container (min-width: 992px) {
			font-size: 3rem;
		}
	}
}
