@use 'variables' as *;

.footer {
	container-type: inline-size;
	position: relative;
	height: 450px;
	background-color: #f5ebe0;
	background-image: url('/img/swirl.png');
	background-attachment: fixed;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(211, 203, 199, 0.1);
	}

	&__wrapper {
		position: relative;
	}

	&__logo {
		position: relative;
		width: 120px;
		height: 120px;
		top: 10%;

		@container (max-width: 576px) {
			left: 50%;
			margin-top: 2em;
			transform: translateX(-50%);
		}

		@container (min-width: 576px) {
			width: 150px;
			height: 150px;
			left: 50%;
			margin-top: 2em;
			transform: translateX(-50%);
		}

		@container (min-width: 768px) {
			position: relative;
			width: 120px;
			height: 120px;
			top: 38px;
			left: 20%;
		}
	}

	&__title {
		position: absolute;
		top: 0;
		padding: 1em 2em;
		font-family: $font-main-title;
		font-size: 1.7rem;
		text-align: center;
		letter-spacing: 1px;
		line-height: 2.5rem;
		color: #462f20;

		@container (max-width: 576px) {
			position: absolute;
			width: 100%;
			left: 50%;
			padding: 1em;
			margin-top: 5em;
			font-size: 1.8rem;
			line-height: 3rem;
			transform: translateX(-50%);
		}

		@container (min-width: 576px) {
			position: absolute;
			width: 100%;
			left: 50%;
			padding: 1em;
			margin-top: 4em;
			font-size: 2.5rem;
			line-height: 3.5rem;
			transform: translateX(-50%);
		}

		@container (min-width: 768px) {
			position: absolute;
			left: 20%;
			font-size: 1.5rem;
			line-height: 2rem;
			top: 50%;
		}
	}

	&__widget {
		// display: grid;
		// grid-template-columns: repeat(3, 1fr);
		// margin-top: 4em;
		// z-index: 1;

		&__first {
			position: absolute;
			left: 65%;
			top: 18%;
			cursor: pointer;
			transition: color 0.3s;

			h3 {
				font-family: $font-main-title;
				font-size: 1.2rem;
				padding-bottom: 2em;
				color: #462f20;
			}

			&:hover {
				color: #ad8164;
			}

			@container (max-width: 768px) {
				display: none;
			}

			@container (min-width: 992px) {
				left: 40%;
			}
		}

		&__second {
			position: absolute;
			left: 65%;
			top: 18%;
			cursor: pointer;
			transition: color 0.3s;

			h3 {
				font-family: $font-main-title;
				font-size: 1.2rem;
				padding-bottom: 2em;
				color: #462f20;
			}

			&:hover {
				color: #ad8164;
			}

			@container (max-width: 992px) {
				display: none;
			}

			@container (min-width: 992px) {
				left: 60%;
			}
		}

		&__third {
			position: absolute;
			left: 65%;
			top: 18%;
			cursor: pointer;
			transition: color 0.3s;

			h3 {
				font-family: $font-main-title;
				font-size: 1.2rem;
				padding-bottom: 2em;
				color: #462f20;
			}

			&:hover {
				color: #ad8164;
			}

			@container (max-width: 1200px) {
				display: none;
			}

			@container (min-width: 1200px) {
				position: absolute;
				left: 80%;
			}
		}

		@container (max-width: 768px) {
			display: none;
		}

		@container (min-width: 768px) {
			position: relative;
			left: 45%;
			bottom: 35%;
		}
	}

	&__icon {
		position: absolute;
		display: flex;
		bottom: 0;
		margin-bottom: 1%;
		font-size: 2.5rem;

		@container (max-width: 576px) {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		@container (min-width: 576px) {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			font-size: 3rem;
		}

		@container (min-width: 768px) {
			bottom: 15%;
			left: 20%;
			font-size: 2.5rem;
		}
	}

	&__facebook {
		margin-right: 0.5em;
	}

	&__facebook,
	&__youtube {
		color: #462f20;
		cursor: pointer;

		a {
			color: #d5beaf;
			transition: color 0.3s;

			&:hover {
				color: #ce9964;
			}
		}
	}

	&__links {
		font-family: $font-text;
		list-style: none;

		li {
			margin-top: 1em;
			text-transform: uppercase;
			cursor: pointer;
		}

		a {
			text-decoration: none;
			color: #462f20;
			transition: color 0.3s;

			&:hover {
				color: #ad8164;
			}
		}
	}

	&__copywright {
		position: absolute;
		bottom: 0;
		left: 35%;
		padding: 1em;
		font-family: $font-text;
		font-size: 0.8rem;

		@container (max-width: 768px) {
			display: none;
		}

		@container (min-width: 768px) {
			width: 100%;
			position: absolute;
			transform: translate(-15%, -15%);
		}

		@container (min-width: 1200px) {
			transform: translate(0, -15%);
		}
	}
}
