@use 'variables' as *;

.news {
	background: url('/dist/img/swirl.png');

	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: rgba(211, 203, 199, 0.1);
	// }
}

.gallery {
	&__title {
		padding: 1em 2em;
		font-family: $font-main-title;
		text-align: center;
		color: #462f20;
		letter-spacing: 0.3rem;
	}
}

.slider-wrapper {
	position: relative;
	overflow: hidden;
	max-width: 1300px;
	margin: 0 50px 40px;
	left: 2%;
}

.card-slider .card-item {
	user-select: none;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #d5beaf;
	padding: 24px;
	border-radius: 8px;
}

.card-slider .card-item .card-image {
	max-width: 400;
	width: 100%;
	height: 250px;
	// border: 3px solid #00ace2;
	border-end-start-radius: 8px;
}

.card-slider .card-item .card-title {
	font-family: $font-text;
	font-size: 24px;
	margin: 16px 0 8px;
	text-align: center;
	color: #462f20;
}

.card-description {
	font-family: $font-text;
	font-size: 1rem;
	color: #462f20;
	text-align: center;
}

.card-slider .card-item .card-button {
	position: relative;
	left: 30%;
	padding: 0.5em 1em;
	margin-top: 12px;
	background: #d5beaf;
	color: #462f20;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 600;
	font-family: $font-text;
	outline: none;
	cursor: pointer;
	transition: 0.3s ease;
}

.card-slider .card-item .card-button:hover {
	background: transparent;
	color: $white;
}

.card-slider #photographer .card-button {
	background: #d5beaf;
}

.card-slider #photographer .card-button:hover {
	background: transparent;
	color: $white;
}

.card-slider #freelancer .card-button {
	background: #d5beaf;
}

.card-slider #freelancer .card-button:hover {
	background: transparent;
	color: $white;
}

.card-slider #gamer .card-button {
	background: #d5beaf;
}

.card-slider #gamer .card-button:hover {
	background: transparent;
	color: $white;
}

.card-slider #researcher .card-button {
	background: #d5beaf;
}

.card-slider #researcher .card-button:hover {
	background: transparent;
	color: $white;
}

.card-slider .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #462f20;
}

.card-slider .slider-button {
	color: #d5beaf;
	margin-top: -40px;
	transition: 0.3s ease;
}

.card-slider .slider-button:hover {
	color: #462f20;
}

@media screen and (max-width: 768px) {
	.slider-wrapper {
		margin: 0 10px 40px;
	}

	.card-slider .slider-button {
		display: none;
	}
}
