@use 'variables' as *;

.header {
	container-type: inline-size; /* To jest cała magia! */
	container-name: header; /* Nazwa dla czytelności – opcjonalna */
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.img-cover {
	position: relative;
	height: 100vh;
	width: 100%;
	background: url('/dist/img/Msza-rytu-rzymskiego.png');
	background-size: cover;
	background-position: center;
	filter: blur(3px);
}

.topbar {
	container-type: inline-size;
	position: absolute;
	width: 100%;
	height: 35px;
	top: 0;
	justify-content: space-between;
	font-family: $font-text;
	background-color: rgba($color: #ede0d4, $alpha: 0.2);
	color: $white;

	@container (max-width: 1400px) {
		& {
			display: none;
		}
	}

	p {
		display: inline-block;
		margin-left: 5em;
		padding: 0.5em 1em;
	}

	i {
		margin: 0;
		padding-right: 1em;
	}

	&__facebook,
	&__youtube {
		a {
			color: $white;
			transition: color 0.3s;

			&:hover {
				color: #b08968;
			}
		}
	}

	&__facebook:hover,
	&__youtube:hover {
		color: #d7ccc1;
	}

	&__icons {
		position: absolute;
		display: inline;
		top: 0;
		right: 2%;
		align-items: center;
		font-size: 1.5rem;
		cursor: pointer;
	}

	&__phone,
	&__mail,
	&__address {
		position: relative;
		left: 0;
		margin-left: 3em;
	}

	&__mail {
		transition: color 0.3s;
		cursor: pointer;

		&:hover {
			color: #d7ccc1;
		}
	}

	&__mass {
		@container topbar (max-width: 1200px) {
			& {
				display: none;
			}
		}
	}
}

.main-title {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 2rem;
	font-family: $font-main-title;
	color: $white;
	letter-spacing: $letter-spacing-1;

	//
	// CONTAINER
	//

	@container header (max-width: 576px) {
		& {
			font-size: 0.8rem;
			letter-spacing: none;
		}
	}

	@container header (min-width: 576px) and (max-width: 768px) {
		& {
			font-size: 1.5rem;
		}
	}
}

.navbar {
	container-type: inline-size;
	display: flex;
	padding: 0 1em;
	font-family: $font-text;
	font-weight: bold;
	font-size: 1.5rem;
	justify-content: space-between;

	@container (max-width: 1200px) {
		& {
			display: none;
		}
	}

	&__list {
		position: absolute;
		display: flex;
		width: 100%;
		top: 70px;
		margin-left: 3%;
		padding: 1em 2em;
		letter-spacing: 1px;
		justify-content: center;
		color: $white;
		list-style: none;

		a {
			text-decoration: none;
			color: $white;
		}

		li {
			position: relative;
			padding: 1em;
			transition: color 0.3s;
			cursor: pointer;
		}

		&__first,
		&__second,
		&__third {
			position: relative;
		}

		&__first {
			.navbar__list__add {
				position: absolute;
				// margin-top: 1em;
				right: 0;
				background-color: #f9f5f1;
				font-size: 1.2rem;
				font-weight: normal;
				list-style: none;
				opacity: 0;
				transition: opacity 0.5s ease;
			}

			&:hover {
				.navbar__list__add {
					opacity: 1;
				}
			}
		}

		&__second {
			.navbar__list__add {
				position: absolute;
				left: 10%;
				// margin-top: 1em;
				background-color: #f9f5f1;
				font-size: 1.2rem;
				font-weight: normal;
				list-style: none;
				opacity: 0;
				transition: opacity 0.5s ease;
				z-index: 1;
			}

			&:hover {
				.navbar__list__add {
					opacity: 1;
				}
			}
		}

		&__third {
			.navbar__list__add {
				position: absolute;
				right: 10%;
				// margin-top: 1em;
				font-size: 1.2rem;
				font-weight: normal;
				background-color: #f9f5f1;
				list-style: none;
				z-index: 1;
				opacity: 0;
				transition: opacity 0.5s ease;
			}

			&:hover {
				.navbar__list__add {
					opacity: 1;
				}
			}
		}

		&__add {
			li {
				color: #462f20;
				padding: 0.7em;
				transition: background-color 0.3s;
				text-align: center;
				border-bottom: 0.1px solid #1c130d;

				a {
					color: #462f20;
					text-decoration: none;
				}

				&:hover {
					background-color: #d7ccc1;
				}

				span {
					font-weight: 200;
				}
			}
		}
	}

	&__title {
		transition: color 0.3s;

		a {
			color: $white;
			text-decoration: none;
		}

		&:hover {
			color: #d7ccc1;
		}
	}
}

.hamburger__menu {
	container-type: inline-size;
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	margin-top: 0;
	margin-right: 0;
	background: none;
	border: none;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	z-index: 2;
	outline: none;

	@container (min-width: 1200px) {
		display: none;
	}

	span {
		width: 50px;
		height: 5px;
		background: #ede0d4;
		position: absolute;
		border-radius: 10px;
		transition: 0.4s;

		&:first-child {
			transform: translateY(-15px);
			width: 25px;
			left: 15px;
		}

		&:last-child {
			transform: translateY(15px);
			width: 30px;
			left: 15px;
		}
	}

	&.active {
		position: fixed;
		margin-top: 0;
		margin-right: 0;

		span:nth-child(2) {
			transform: translateX(80px);
		}

		span:first-child {
			width: 50px;
			transform: translateY(0) rotate(45deg);
		}

		span:last-child {
			width: 50px;
			transform: translateY(0) rotate(315deg);
			transition-delay: 0.2;
		}
	}
}

.off__screen {
	container-type: inline-size;
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100%;
	// max-width: 450px;
	top: 0;
	right: -1600px;
	background-color: #b08968;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
	font-size: 3rem;
	font-family: $font-main-title;
	scrollbar-width: none;
	overflow-y: hidden;
	transition: right 0.2s; // animacja przesunięcia
	transition-delay: 0.2s;
	z-index: 1;

	@container (min-width: 1200px) {
		display: none;
	}

	&__logo {
		.img {
			position: absolute;
			width: 90px;
			height: 90px;
			top: 0.2em;
			left: 0;
			margin-left: 0.3em;
			transform: translateX(25%);

			@container (min-width: 576px) and (max-width: 768px) {
				width: 120px;
				height: 120px;
			}

			@container (min-width: 768px) {
				width: 150px;
				height: 150px;
			}
		}
	}

	&__menu {
		position: relative;
		top: 1em;

		@container (min-width: 768px) {
			top: 0;
		}

		@container (min-width: 992px) {
			top: -3em;
		}
	}

	&__toggle {
		font-size: 1.7rem;
		list-style: none;
		line-height: 2rem;
		transition: color 0.3s;

		@container (max-width: 576px) {
			line-height: 2.8rem;
		}

		@container (min-width: 768px) {
			line-height: 3.5rem;
		}

		@container (min-width: 992px) {
			line-height: 4rem;
		}

		a {
			position: relative;
			text-decoration: none;
			color: $white;

			&:hover {
				color: #d7ccc1;
			}

			@container (min-width: 576px) {
				font-size: 1.7rem;
			}

			@container (min-width: 768px) {
				font-size: 2rem;
			}

			@container (min-width: 992px) {
				font-size: 2.3rem;
			}
		}
	}

	&.active {
		position: fixed;
		right: 0;
		cursor: pointer;
	}

	&__add {
		max-height: 0;
		overflow: hidden;
		transition: 0.3s;
		padding: 0 20px; /* początkowy padding = 0 przy zamknięciu */
		background: none;
		color: $white;
		font-size: 1.2rem;
		cursor: pointer;

		a {
			font-size: 1.5rem;
		}

		@container (min-width: 768px) {
			font-size: 1.5rem;
		}

		@container (min-width: 992px) {
			font-size: 1.8rem;
		}

		&.active {
			max-height: 350px; /* wystarczy wartość większa niż maksymalna wysokość podmenu */
			line-height: 2rem;
		}

		@container (min-width: 768px) {
			line-height: 2.5rem;
		}

		// 	a {
		// 		font-weight: bold;
		// 	}
		// }
	}

	&__content {
		width: 100%;
		margin-top: 2em;
		font-size: 1rem;
		font-family: $font-text;
		text-align: center;
		color: $white;

		@container (max-width: 992px) {
			display: none;
		}

		p {
			position: relative;
			line-height: 1.5em;
			top: 3em;
			padding: 0.5em;

			span {
				padding: 0.5em;
				font-weight: bold;
			}
		}

		.mail {
			transition: color 0.3s;
			cursor: pointer;

			&:hover {
				color: #ede0d4;
			}
		}
	}
}

.logo-white {
	position: absolute;
	display: flex;
	top: 7%;
	left: 10%;
	width: 150px;
	transition: 1s ease;
	cursor: pointer;

	&:hover {
		transform: scale(1.15);
	}

	@container header (max-width: 1440px) {
		& {
			display: none;
		}
	}
}
