@use 'variables' as *;

.masses {
	container-type: inline-size;
	width: 100%;
	height: 100%;
	background-image: url('/img/swirl.png');
	background-attachment: fixed;
	overflow: hidden;

	&__wrapper {
		position: relative;
		margin: 5em 8em;
		display: grid;
		gap: 60px;
		grid-template-columns: 1fr 1fr;

		@container (max-width: 1200px) {
			position: relative;
			grid-template-columns: 1fr;
			justify-content: center;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		filter: drop-shadow(4px 2px 4px #000);
	}

	&__content {
		color: #462f20;
	}

	&__title {
		padding-bottom: 3em;
		text-align: center;
		font-family: $font-main-title;
	}

	&__text {
		p {
			text-align: center;
			font-family: $font-main-title;
			font-size: 1.2rem;

			span {
				font-size: 1.5rem;
				font-weight: bold;
			}
		}
	}
}
