@use 'variables' as *;

.img-aboutus {
	position: relative;
	height: 70vh;
	background: url('/img/Spowiedź-1.jpg');
	background-position: center;
	// background-size: cover; // Zakomentowane w oryginale – pozostawiam tak samo
	background-attachment: fixed;
	filter: brightness(0.6);
}

.aboutus {
	font-size: 2rem;
	font-family: $font-main-title;

	&__container {
		max-height: 100%;
		width: 100%;
		background: url('/img/swirl.png');
		background-attachment: fixed;
		color: #462f20;
		container-type: inline-size;
		container-name: aboutus-container;
	}

	&__h4,
	&__h5,
	&__h6 {
		font-family: $font-main-title;
		font-size: 3rem;
		text-align: center;
		padding: 0.5em 1em;
	}

	&__h5 {
		font-size: 2rem;
	}

	&__h6 {
		text-align: left;
		font-size: 1.6rem;
		padding: 1em 2em;
	}

	&__text {
		font-family: $font-text;
		font-size: 1.5rem;
		padding: 1em 2em;
		line-height: 1.5em;
		text-align: left;

		a {
			text-decoration: none;
			color: #462f20;
			font-weight: bold;
		}
	}

	&__quote {
		font-family: $font-text;
		font-size: 1.2rem;
		text-align: right;
		margin-top: 2em;
		padding: 1em 2em;
	}

	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: $font-main-title;
		font-size: 4rem;
		color: $white;
		font-style: italic;
	}
}

// Container queries oparte na breakpointach Bootstrap
@container aboutus-container (max-width: 575.98px) {
	// xs – iPhone 5/SE (320px), iPhone 6/7/8/X (~375px), iPhone 14 Pro Max (~430px)
	.aboutus {
		font-size: 1.5rem;

		&__h4,
		&__h5,
		&__h6 {
			font-size: 2.2rem;
			padding: 0.5em 0.5em;
		}

		&__h5 {
			font-size: 1.7rem;
		}

		&__h6 {
			font-size: 1.4rem;
			padding: 0.8em 1em;
		}

		&__text {
			font-size: 1.3rem;
			padding: 0.8em 1em;
			line-height: 1.4em;
		}

		&__quote {
			font-size: 1.1rem;
			padding: 0.8em 1em;
		}

		&__title {
			font-size: 2.8rem;
		}
	}

	.img-aboutus {
		height: 50vh;
		background-attachment: scroll; // fixed może powodować problemy na małych urządzeniach mobilnych
	}
}

@container aboutus-container (min-width: 576px) and (max-width: 767.98px) {
	// sm – iPhone Plus (~414px), Galaxy Z Fold 5 złożony (~320-414px)
	.aboutus {
		font-size: 1.7rem;

		&__h4,
		&__h5,
		&__h6 {
			font-size: 2.6rem;
			padding: 0.5em 0.8em;
		}

		&__h5 {
			font-size: 1.9rem;
		}

		&__text {
			font-size: 1.4rem;
			padding: 1em 1.5em;
		}

		&__quote {
			font-size: 1.15rem;
		}

		&__title {
			font-size: 3.2rem;
		}
	}

	.img-aboutus {
		height: 60vh;
	}
}

@container (max-width: 768px) {
	.aboutus {
		&__title {
			font-size: 3rem;
			text-align: center;
		}
	}
}

@container (min-width: 768px) and (max-width: 991.98px) {
	// md – iPad Mini (~768px portrait)
	.aboutus {
		font-size: 1.8rem;

		&__h4,
		&__h5,
		&__h6 {
			font-size: 2.8rem;
			padding: 0.5em 1em;
		}

		&__h5 {
			font-size: 2rem;
		}

		&__text {
			font-size: 1.45rem;
			padding: 1em 1.8em;
		}

		&__title {
			font-size: 3.6rem;
		}
	}

	.img-aboutus {
		height: 65vh;
	}
}

@container (min-width: 992px) {
	// lg+ – Galaxy Z Fold 5 rozłożony (~900px+), większe ekrany
	// Podstawowe style już pasują na dużych kontenerach – ewentualne drobne korekty
	.aboutus {
		&__title {
			font-size: 4.2rem; // Lekko większe na bardzo szerokich kontenerach
		}
	}

	.img-aboutus {
		height: 70vh;
		background-attachment: fixed;
	}
}
