@use 'variables' as *;

.img-announcements {
	position: relative;
	height: 70vh;
	background: url('/img/Modlitwa-1.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	filter: brightness(0.7);
}

.announcements {
	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: $font-main-title;
		font-size: 4rem;
		color: $white;
	}
	&__container {
		max-height: 100%;
		width: 100%;
		background: url('/img/swirl.png');
		background-attachment: fixed;
		color: #462f20;
	}

	&__h4,
	&__subtitle {
		text-align: center;
	}

	&__h4,
	&__text {
		padding: 1em 2em;
		font-family: $font-text;
	}

	&__h4 {
		font-size: 2rem;
		text-transform: uppercase;
	}

	&__subtitle {
		font-family: $font-text;
		padding-bottom: 1em;
		font-size: 1.5rem;
		text-align: center;
		text-transform: uppercase;
	}

	&__text {
		font-size: 1.2rem;
		text-align: left;
		line-height: 1.5em;
		border-bottom: 1px solid #462f20;

		&:last-child {
			border-bottom: none;
		}
	}
}
