@use 'variables' as *;

.support {
	container-type: inline-size;
	position: relative;
	background-image: url('/dist/img/swirl.png');
	background-attachment: fixed;
	overflow: hidden;

	&__title,
	&__text {
		text-align: center;
	}

	&__title {
		padding: 1em 2em;
		font-family: $font-main-title;
		color: #462f20;
		letter-spacing: $letter-spacing-1;

		@container (max-width: 576px) {
			font-size: 2rem;
		}
	}

	&__text {
		font-family: $font-text;
		font-size: 2rem;
		padding: 1em;
		line-height: 3rem;

		@container (max-width: 576px) {
			font-size: 1.5rem;
		}
	}
}
