@use 'variables' as *;

.img-school {
	position: relative;
	height: 70vh;
	background: url('/img/school.jpg');
	background-position: bottom;
	background-size: cover;
	filter: brightness(0.6);
}

.school {
	font-size: 2rem;
	font-family: $font-main-title;

	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: $font-main-title;
		font-size: 4rem;
		color: $white;
		font-style: italic;
	}

	&__container {
		max-height: 100%;
		width: 100%;
		background: url('/img/swirl.png');
		background-attachment: fixed;
		color: #462f20;

		h4 {
			font-family: $font-main-title;
			font-size: 3rem;
			font-style: italic;
			text-align: center;
			padding: 1em 2em;
		}
	}

	&__photo {
		width: 100vh;
		background-size: cover;
		background-position: center;
		border: 1px solid #462f20;
		border-radius: 12px;
		transform: translate(44%);
		margin-top: 2em;
	}

	&__text {
		padding: 1em 2em;
		font-family: $font-text;
		font-size: 2rem;
		text-align: left;
		line-height: 1.5em;
	}

	&__links {
		font-family: $font-text;
		font-size: 2rem;
		text-align: center;
		margin-bottom: 1em;

		span {
			font-weight: bold;
		}

		a {
			text-decoration: none;
			color: #462f20;
			margin-top: 0.2em;
		}
	}
}
