@use 'variables' as *;

.img-school {
	position: relative;
	height: 70vh;
	background: url('/img/school.jpg');
	background-position: bottom;
	background-size: cover;
	filter: brightness(0.6);
}

.school {
	font-size: 2rem;
	font-family: $font-main-title;

	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: $font-main-title;
		font-size: 4rem;
		color: $white;
		font-style: italic;
	}

	&__container {
		max-height: 100%;
		width: 100%;
		background: url('/img/swirl.png');
		background-attachment: fixed;
		color: #462f20;
		container-type: inline-size;
		container-name: school-container;

		h4 {
			font-family: $font-main-title;
			font-size: 3rem;
			font-style: italic;
			text-align: center;
			padding: 1em 2em;
			letter-spacing: 0.2rem;
			margin: 0 auto;
			width: fit-content;
		}
	}

	&__photo {
		width: 100vh;
		background-size: cover;
		background-position: center;
		border: 1px solid #462f20;
		border-radius: 12px;
		transform: translate(44%);
		margin-top: 2em;
	}

	&__text {
		padding: 1em 2em;
		font-family: $font-text;
		font-size: 2rem;
		text-align: left;
		line-height: 1.5em;
	}

	&__links {
		font-family: $font-text;
		font-size: 2rem;
		text-align: center;
		margin-bottom: 1em;

		span {
			font-weight: bold;
		}

		a {
			text-decoration: none;
			color: #462f20;
			margin-top: 0.2em;
		}
	}
}

// Container queries – breakpointy Bootstrap
@container (max-width: 575.98px) {
	// xs – iPhone 5/SE, iPhone 6/7/8, iPhone X/XS, iPhone 14 Pro Max portrait
	.school {
		font-size: 1.5rem;

		&__title {
			font-size: 2.6rem;
		}

		&__container {
			h4 {
				font-size: 2rem;
				padding: 0.8em 0;
				letter-spacing: 0.15rem;
			}
		}

		&__photo {
			width: 100%;
			transform: translate(0);
			margin: 1.5em 1em 2em;
			max-width: 90vw;
		}

		&__text {
			font-size: 1.4rem;
			padding: 0.8em 1.2em;
			line-height: 1.4em;
			text-align: center;
		}

		&__links {
			font-size: 1.4rem;
			padding: 0 1em;
		}
	}

	.img-school {
		height: 50vh;
		background-attachment: scroll;
	}
}

@container (min-width: 576px) and (max-width: 767.98px) {
	// sm – iPhone Plus, Galaxy Z Fold 5 złożony
	.school {
		font-size: 1.7rem;

		&__title {
			font-size: 3.2rem;
		}

		&__container {
			h4 {
				font-size: 2.6rem;
				padding: 1em 1.5em;
			}
		}

		&__photo {
			width: 90%;
			transform: translate(5%);
			margin: 2em auto;
		}

		&__text {
			font-size: 1.6rem;
			padding: 1em 1.5em;
		}

		&__links {
			font-size: 1.6rem;
		}
	}

	.img-school {
		height: 60vh;
	}
}

@container (min-width: 768px) and (max-width: 991.98px) {
	// md – iPad Mini portrait
	.school {
		font-size: 1.8rem;

		&__title {
			font-size: 3.6rem;
		}

		&__container {
			h4 {
				font-size: 2.8rem;
			}
		}

		&__photo {
			width: 80%;
			transform: translate(12%);
		}

		&__text {
			font-size: 1.8rem;
		}

		&__links {
			font-size: 1.8rem;
		}
	}

	.img-school {
		height: 65vh;
	}
}

@container (min-width: 992px) {
	// lg+ – Galaxy Z Fold 5 rozłożony, desktopy
	.school {
		&__title {
			font-size: 4.2rem;
		}

		&__photo {
			width: 70vh;
			transform: translate(6%);
		}
	}

	.img-school {
		height: 70vh;
		background-attachment: fixed;
	}
}

@container (min-width: 1200px) {
	.school {
		&__photo {
			width: 100vh;
			transform: translate(45%);
		}
	}
}
