$font-main-title: 'Cinzel Decorative', serif;
$font-text: 'Fauna One', serif;

$white: #ffff;

$letter-spacing-1: 0.3rem;

$line-height-1: 6rem;

$text-color: #333;
$card-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

$primary-color: #333;
$bg-color: #fff;
$border-color: #ddd;
$hover-bg: #f5f5f5;
$transition: all 0.3s ease;
