@use 'header';
@use 'variables';
@use 'announcements';
@use 'masses';
@use 'support';
@use 'galeria';
@use 'footer';
@use 'kontakt';
@use 'ogloszenia';
@use 'rozaniec';
@use 'msza_trydencka';
@use 'duszpasterz';
@use 'parafia';
@use 'nowenny';
@use 'wspolnoty';
@use 'chrzest';
@use 'bierzmowanie';
@use 'eucharystia';
@use 'spowiedz';
@use 'namaszczenie';
@use 'kaplanstwo';
@use 'malzenstwo';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

h2 {
	font-size: 3rem;
}

button {
	font-size: 1rem;
}
